html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full height for the body */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.map-container {
  width: 100vw; /* Ensure full width */
  height: 100vh; /* Set height */
  position: relative; /* Ensure it behaves as expected in its container */
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1; /* Ensure it's below the search bar */
  position: absolute;
  top: 80px; /* Increase to ensure it's below the search bar */
  right: 10px; /* Adjust to your preference */
  margin: 0;
  border-radius: 4px;
  background: rgba(35, 55, 75, 0.9); /* Ensure background is semi-transparent */
}

.container {
  padding: 20px;
  background-color: #f8f9fa; /* Light background */
  border: 1px solid #dcdcdc; /* Light border */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 300px;
  margin: 0 auto; /* Center the widget */
}

.container h2 {
  font-size: 24px;
  color: #2c3e50;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.geocoder-container {
  width: 100%;
  max-width: 500px; /* Adjust the maximum width as needed */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Slight background for better visibility */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  padding: 10px;
}

.geocoder-wrapper {
  display: flex;
  justify-content: center; /* Centers the search bar horizontally */
  width: 100%; /* Ensure the wrapper takes up the full width */
  margin: 0 auto 10px auto; /* Center the wrapper with automatic horizontal margins */
}

.widget-container {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border: rgb(from color r g b);
}
/* Nav bar css  */
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  z-index: 200;
}
/* respointive nav bar css */
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-search {
    margin: 8px 0;
  }

  .content-container {
    flex-direction: column;
  }

  .sidebar {
    top: 50px;
    right: 5px;
  }

  .spots-container {
    width: 100%;
    left: 0;
    bottom: 60px;
  }
}

.navbar-search {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  margin: 0 20px;
  border-radius: 20px;
  border: 10px;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

/* .navbar-buttons .btn:hover {
  background-color: #ff7800;
} */

.btn-windy {
  border-radius: 10px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  size: 16px;
}

.btn-satelite {
  border-radius: 10px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  size: 16px;
}

.btn-satelite:hover {
  background-color: blue;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-windy:hover {
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-logo img {
  width: 130px;
  height: auto;
}
/* HuntingSpotsDropdown.css */

.dropdown-container {
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 1000; /* Ensure it's above the map */
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1; /* Ensure it's below the search bar */
  position: absolute;
  top: 70px; /* Increase to ensure it's below the search bar */ /* Adjust to your preference */
  margin: 0;
  border-radius: 4px;
  background: rgba(35, 55, 75, 0.9); /* Ensure background is semi-transparent */
}
.dropdown-button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
/* respontive for spot  */

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .sidebar {
    top: 70px;
    right: 8px;
  }

  .spots-container {
    width: 350px;
    left: 10px;
  }
}

/* windy app css  */

.windy-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Ensure full width */
  height: 100vh; /* Set height */
  padding-top: 50px;
  z-index: 100;
}

#windyFrame {
  width: 100vw;
  height: 100vh;
  border: none; /* Remove border if needed */
}

/* Hunting Spots cards */

.spots-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  position: absolute;
  top: 60px;
  left: 16px;
  width: 300px;
  bottom: 80px;
  overflow: scroll;

  z-index: 10;
}

.spot-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.spot-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15); /* Elevated shadow on hover */
}

.spot-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.spot-details {
  text-align: left;
  width: 100%;
  margin-top: 0.5rem;
}

.spot-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

.spot-coords {
  font-size: 0.875rem;
  color: #555;
}

.hidden {
  display: none;
}

/* Responsive for tablets (max-width: 768px) */
@media only screen and (max-width: 768px) {
  .spots-container {
    width: 250px; /* Narrower width */
    left: 8px; /* Closer to the edge */
  }
}

/* Responsive for mobile devices (max-width: 600px) */
@media only screen and (max-width: 600px) {
  .spots-container {
    width: 100%; /* Full width */
    left: 0;
    right: 0; /* Center the container */
    top: auto; /* Position below other content */
    bottom: 0; /* Stick to the bottom */
    height: 50%; /* Half the screen height */
    border-radius: 0; /* Remove rounded corners */
  }
}

/* time widget  */

.time-widget {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}
.time-widget h2,
.time-widget p {
  margin: 5px 0;
}
